

@import url(//db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: SF Pro Text, Helvetica, sans-serif;
}

  :root {
    --box_bg: 
    --invert: invert(0);
    --bg_color: linear-gradient(145deg, #161616, #212121);
    --border_color: rgb(26, 158, 125);
    --trans_fill: rgb(255, 255, 255, 0.19);
    --bg_shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    --status: background-scroll var(--speed) linear infinite;
    --speed: 750s
  }

[data-theme='dark'] {
  --bg_color: linear-gradient(145deg, #ffffff, #c1c3c6);
  --invert: invert(1);
  --iv: invert(1);
  --text_fill: rgb(255, 255, 255);
  --trans_fill: rgba(4, 4, 4, 0.19);
  --border_color: rgb(229, 97, 130);
  --bg_shadow: 0 4px 30px rgba(0, 0, 0, 0.9);
}

.background {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  filter: var(--iv);
  background-image: url(../Assets/background.png);
  animation: var(--status);
  transition: 0.9s;
}



body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
	overflow: hidden;
	animation: var(--status);
  transition: 0.9s;
}

@keyframes background-scroll {
  from {
    background-position-x: -10000%;
    background-position-y: -10000%;
  }
}

.petlistPro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 60vh;
  height: 75vh;
  background: linear-gradient(145deg, #ffffff, #c1c3c6);
  border-radius: 65px;
  box-shadow: inset 8.41px 8.41px 15px #C2C4C7, inset -8.41px -8.41px 15px #FFFFFF;
  filter: drop-shadow(0 0 0.75rem rgb(80, 80, 80));
  text-align: center;
  margin: 48px auto;
  margin-bottom: 0px;
}
.listContainer {
  max-height: 45vh;
  overflow: scroll;
}
h1 {
  font-family: Helvetica;
  margin: 15px;
  background: linear-gradient(
    -125deg,
    rgba(26, 158, 125) 0%,
    rgb(12, 255, 223) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  filter: var(--invert) !important;
  color: var(--text_fill);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 15px;
  overflow: hidden;
  filter: drop-shadow(0 0 0.75rem rgb(132, 132, 132));
}

li {

  font-family: Helvetica;
  font-size: 20px;
  margin: 0 17.5px;
  float: left;

}

li a {
  
  text-align: center;
  padding: 16px;
  text-decoration: none;

}

li a:hover {
  background-color: var(--text_fill);
}


.messageBox {
  color: rgb(235, 78, 0);
  font-size: 2vh;
}

.petName {
  padding: 14px 32px 13.5px 16px;
  border-radius: 20px 0 0 20px;
  border-width: 2px;
  border-color: rgb(26, 158, 125);
  outline: none;
  width: auto;
  background: transparent;
  color: black;
  cursor: text;
}

.petAge {
  padding: 14px 14px 13.5px 14px;
  border-width: 2px;
  border-color: rgb(26, 158, 125);
  max-width: 60px; 
  cursor: text;
  outline: none;
  background: transparent;
  color: black;
  text-transform: capitalize;
}

.petSpecies {
  cursor: pointer;
  filter: var(--invert) !important;
  color: var(--text_fill);
  font-size: 24px;
  padding: 3px 32px 11px 16px;
  border-width: 2px;
  border-color: var(--border_color);
  outline: none;
  height: inherit;
  background: transparent;
  color: #fff;
  text-align-last:right;
  padding-right: 29px;
  direction: rtl;
  
}

.petName::placeholder {
  color: #3f0202;
}

.pet-button {
  padding: 15px;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    -125deg,
    rgba(26, 158, 125) 0%,
    rgb(12, 255, 223) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.petName.Update {
  border: 2px solid #149fff;
}

.pet-button.Update {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.pet-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.pet-row {
  filter: var(--invert) !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  background: transparent;
  border-radius: 16px;
  box-shadow: var(--bg_shadow);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  color: rgb(29, 29, 29);
  padding: 16px;
  max-width: 90%;
  transition: 0.5s;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.pet-box {
  color: var(--text_fill);
  transition: 0.5s;
  display: flex;
  align-items: center;
  background: transparent;
  max-width: 90%;
  cursor: pointer;
}

.selected {
  color: var(--text_fill);
  transition: 0.5s;
  font-size: 8vh;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  
  transform: translateX(1.2);
  transform: translateX(2.5);
}

.pet-row:hover {
  width: 98%;
  box-shadow: 0px 0px 5px #fff;

}

.icons {
  display: flex;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  
}
.edit-icon {
  filter: drop-shadow(0 0 0.75rem rgb(0, 173, 104));
}
.delete-icon {
  filter: drop-shadow(0 0 0.75rem crimson);
}
.delete-icon {
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.706);
  transition: 0.3s;
}

.delete-icon:hover {
  color: rgb(230, 57, 97);
}

.edit-icon {
  color: #fff;
  transition: 0.3s;
}

.edit-icon:hover {
  color: rgb(144, 255, 108);
}

.footer {
    font-family: SF Pro Text;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 220px;
    min-height: 100px;
    text-align: center;
    margin: 48px auto;
    margin-top: 0px;
    padding-bottom: 50px;
    font-size: large;
}

.header {
  font-family: SF Pro Text;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: large;
  height: 50px;
}
.messageBox {
  margin: 0px;
  padding: 0px;
}

.modeSwitch {
  margin-left: -82px;
  margin-top: 82px;
  width: auto;
  filter: var(--invert) !important;
  font-size: 30px !important;
  position: absolute;
  align-items: center;
  padding: 10px 15px 10px 15px;
  border: none;
  border-radius: 15%;
  background: transparent;
  backdrop-filter: blur(4px);
  filter: blur(4px);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;

  box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15);
}
.modeSwitch:hover {
  box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
              -2px -2px 4px rgba(255, 255, 255, .4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}
.modeSwitch:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
              inset -2px -2px 4px rgba(255, 255, 255, .5),
              inset 2px 2px 2px rgba(255, 255, 255, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}

#animationToggle {
  transition: 1s;
  margin-top: 162px;
}