@import url(//db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: SF Pro Text, Arial, sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
	margin: 0;
	overflow: hidden;
	animation: background-scroll 100s linear infinite;
  transition: 0.9s;
  background-image: url(../Assets/background.png);
}

@keyframes background-scroll {
  from {
  background-position-x: -10000%;
  background-position-y: -10000%;
 }
}

@keyframes background-scroll-slow {
  from {
  background-position-x: -10000%;
  background-position-y: -10000%;
 }
}
body:hover {

  animation: background-scroll-slow 1000s linear infinite;

}


.petlistPro {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 620px;
  min-height: 620px;
  background: linear-gradient(145deg, #ffffff, #c1c3c6);
  border-radius: 15%;
  box-shadow: inset 8.41px 8.41px 15px #C2C4C7, inset -8.41px -8.41px 15px #FFFFFF;
  filter: drop-shadow(0 0 0.75rem rgb(80, 80, 80));
  text-align: center;
  margin: 48px auto;
  padding-bottom: 32px;
}

h1 {
  font-family: Helvetica;
  margin: 15px;
  background: #121FCF;
  background: linear-gradient(to right, #121FCF 0%, #CF2B83 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 5px;
  overflow: hidden;
}

li {
  margin: 0 15px;
  float: left;
}

li a {
  
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

#Footer { 
  
 text-align: center;
 font-family: SF Pro Text;
}

.selected {
  text-decoration: line-through;
  opacity: 0.4;
}

.petModule {
  margin-bottom: 32px;
}

.petName {
  padding: 14px 32px 14px 16px;
  border-radius: 20px 0 0 20px;
  outline: none;
  width: 320px;
  background: transparent;
  color: rgb(35, 2, 2);
  
}
.petSpecies {
  font-size: 24px;
  padding: 4px 32px 11px 16px;
  border-radius: 4px 0 0 4px;
  outline: none;
  height: inherit;
  background: transparent;
  color: #fff;
  text-align-last:right;
  padding-right: 29px;
  direction: rtl;
  
}

.petName::placeholder {
  color: #3f0202;
}

.pet-button {
  padding: 16px;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.petName.Update {
  border: 2px solid #149fff;
}

.pet-button.Update {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.pet-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.pet-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  color: rgb(29, 29, 29);
  padding: 16px;
  width: 90%;
  transition: 0.5s;
}

.pet-row:hover {
  width: 98%;
  box-shadow: 0px 0px 5px #fff;

}

.icons {
  display: flex;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  
}
.edit-icon {
  filter: drop-shadow(0 0 0.75rem rgb(0, 173, 104));
}
.delete-icon {
  filter: drop-shadow(0 0 0.75rem crimson);
}
.delete-icon {
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.706);
  transition: 0.3s;
}

.delete-icon:hover {
  color: rgb(230, 57, 97);
}

.edit-icon {
  color: #fff;
  transition: 0.3s;
}

.edit-icon:hover {
  color: rgb(144, 255, 108);
}