

@import url(//db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text);
* {
  filter: var(--iv);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: SF Pro Text, Helvetica, sans-serif;
}

[data-theme='dark'] {
  --bg: url(../Assets/background_dark.png);
  --iv:  invert(1);
  --box_bg: black;  
  --text_fill: white;
}
body {
  margin: 0;
	overflow: hidden;
	animation: background-scroll 750s linear infinite;
  transition: 0.9s;
  
  filter: var(--iv);
}
.darktheme {
  background-image: url(../Assets/background.png);
}
.lighttheme {
  background-image: url(../Assets/background_dark.png);
}
:root {
  --text_fill: black;
  --box_bg: linear-gradient(145deg, #ffffff, #c1c3c6);
}




@keyframes background-scroll {
  from {
    background-position-x: -10000%;
    background-position-y: -10000%;
  }
}



body:hover {
  
  animation: background-scroll 0s linear infinite;
  
}

.main {
  background-image: var(--bg);
}
.petlistPro {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 620px;
  min-height: 620px;
  background: var(--box_bg);
  border-radius: 15%;
  box-shadow: inset 8.41px 8.41px 15px #C2C4C7, inset -8.41px -8.41px 15px #FFFFFF;
  filter: drop-shadow(0 0 0.75rem rgb(80, 80, 80));
  text-align: center;
  margin: 48px auto;
  padding-bottom: 50px;
}

h1 {
  
  font-family: Helvetica;
  margin: 15px;
  background: linear-gradient(
    -125deg,
    rgba(26, 158, 125) 0%,
    rgb(12, 255, 223) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 15px;
  overflow: hidden;
  filter: drop-shadow(0 0 0.75rem rgb(132, 132, 132));
}

li {
  color: var(--text_fill);
  font-family: Helvetica;
  font-size: 20px;
  margin: 0 17.5px;
  float: left;
}

li a {
  
  color: var(--text_fill);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--text_fill);
}

#Footer { 
  
 text-align: center;
 font-family: SF Pro Text;
}

.selected {
  text-decoration: line-through;
  opacity: 0.4;
}

.petModule {
  margin-bottom: 32px;
}

.petName {
  padding: 14px 32px 14px 16px;
  border-radius: 20px 0 0 20px;
  border-width: 2px;
  border-color: rgb(26, 158, 125);
  outline: none;
  width: 320px;
  background: transparent;
  color: var(--text_fill);
  
}

.petAge {
  padding: 14px;
  border-width: 2px;
  border-color: rgb(26, 158, 125);
  width: 50px; 
  cursor: pointer;
  outline: none;
  background: transparent;
  color: var(--text_fill);
  text-transform: capitalize;
}

.petSpecies {
  font-size: 24px;
  padding: 4px 32px 10px 16px;
  border-radius: 20px 0 0 20px;
  border-width: 2px;
  border-color: rgb(26, 158, 125);
  border-radius: 4px 0 0 4px;
  outline: none;
  height: inherit;
  background: transparent;
  color: #fff;
  text-align-last:right;
  padding-right: 29px;
  direction: rtl;
  
}

.petName::placeholder {
  color: #3f0202;
}

.pet-button {
  padding: 16px;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    -125deg,
    rgba(26, 158, 125) 0%,
    rgb(12, 255, 223) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.petName.Update {
  border: 2px solid #149fff;
}

.pet-button.Update {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.pet-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.pet-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  background: rgba(255, 255, 255, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(255, 255, 255, 0.14);
  color: rgb(29, 29, 29);
  padding: 16px;
  width: 90%;
  transition: 0.5s;
}

.pet-row:hover {
  width: 98%;
  box-shadow: 0px 0px 5px #fff;

}

.icons {
  display: flex;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  
}
.edit-icon {
  filter: drop-shadow(0 0 0.75rem rgb(0, 173, 104));
}
.delete-icon {
  filter: drop-shadow(0 0 0.75rem crimson);
}
.delete-icon {
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.706);
  transition: 0.3s;
}

.delete-icon:hover {
  color: rgb(230, 57, 97);
}

.edit-icon {
  color: #fff;
  transition: 0.3s;
}

.edit-icon:hover {
  color: rgb(144, 255, 108);
}